<nav class="navbar fixed-top navbar-dark navbar-expand-md navbar-inverse text-white">
    <a class="navbar-brand" href="/logout">
      Logout
    </a>
  </nav>
<br>
<br>
<br>
<br>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="dash" style="color: aquamarine;">Dashboard</h1>
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>

  <!--sidebar start-->
  <div class="sidebar">
    <div class="profile_info">
      <img src="img/carousel/slide1.jpeg"  class="profile_image" alt="">
      {{!-- <h4>Impatient T-Shirts</h4> --}}
    </div>
    <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
    <a href="/product"><i class="fas fa-cogs"></i><span>Add Products</span></a>
    <!-- <a href="#"><i class="fas fa-table"></i><span>Delete Product</span></a> -->
    <a href="/product-list"><i class="fas fa-sliders-h"></i><span>View Product</span></a>
  </div>
  <!--sidebar end-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>