  <div class="container" >
        <div class="row mt-4">
     <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/product-list">View Product</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/members">Dashboard</a>
      </div>
    </div>
<div class="product-container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form id="product-form"  method="post">
          <div class="form-group">
              <input type="text"  name="product-name" id="product-name" class="form-control" placeholder="Product Name" />
          </div>
          <div class="form-group">
              <input type="text"  name="price" id="price" class="form-control" placeholder="Price" />
          </div>
		  <div class="form-group">
              <input type="text" name="description" id="description" class="form-control" placeholder="Description" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Create Product</button>
          </div>
      </form>
    </div>
  </div>
</div>

		<script src="js/product.js"></script>